.container {
    position: absolute;
    width: 100vh;
    height: 100vh;
}

.big {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: pink;
    position: relative;
    top: ;
    left: ;
}

.med {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: cornflowerblue;
    position: relative;
    top: ;
    left: ;
}

.small {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: orange;
    position: relative;
    top: ;
    left: ;
}