.back {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: pink;
    z-index: -1;
}

.logo {
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1;
}

main {
    height: 200px;
    width: 200px;
    position: relative;
}